$brown: #4f1c12;
$grey: #7e7e7e;
$grey-dark: #fffcf2;
$yellow: #fff9cc;
$yellow-light: #eccb12;
$pink-light: #fffcf2;
$ico-top: #c1c1c1;
$orange: #f8cc00;

$ff-os-regular: "OpenSansRegular", Arial, sans-serif;
$ff-os-light: "OpenSansLight", Arial, sans-serif;
$ff-os-sbold: "OpenSansSemiBold", Arial, sans-serif;
$ff-os-bold: "OpenSansBold", Arial, sans-serif;